
    body {
        text-align: center;
        color: #851d41;
        background-color: #FFF9F9;
    }


    h1 {
        color: #851d41;
    }

    h2 {
        color: #db3056;
    }

    h3{
        color: #ff6464;
    }

    .menu {
        border: solid #db3056;
        border-radius: 20px;
        margin-top: 5px;
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .lienInterne {
        border: solid cadetblue;
        background-color: grey;
        border-radius: 5px;
        color: white;
    }

    .blockUn {
        padding-right: 40%;
    }

    .blockDeux {
        padding-left: 40%;
    }

    .blockUn span {
        float: right;
    }

    .blockDeux span {
        float: left;
    }

