
    h1 {
        text-align: center;
        border: thick double #32a1ce;
        color: cadetblue;
        border-radius: 10px;
        width: 100%;
    }

    .menu {
        
        text-align: center;
        border: solid cadetblue;
        border-radius: 20px;
        margin-top: 5px;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 40%;
    }