
    body {
        text-align: center;
    }


    h1 {
        text-align: center;
        color: cadetblue;
    }

    .menu {

        text-align: center;
        border: solid cadetblue;
        border-radius: 20px;
        margin-top: 5px;
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .lienInterne {
        border: solid cadetblue;
        background-color: grey;
        border-radius: 5px;
        color: white;
    }

    .blockUn {
        padding-right: 40%;
    }

    .blockDeux {
        padding-left: 40%;
    }

